* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.box{
  background-color: #D5D5D555;
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap:40px;
  /* margin-top: 30px; */
}
.text-box{
  margin-top: 50px;
  /* line-height: 30px; */
}
.get{
  color:#000000;
  font-size:32px;
  font-weight: 700;
  font-style: bold;
  line-height: 28px;
  margin-bottom: 20px;
}
.out{
  color:#000000;
  font-size:16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  letter-spacing:1% ;
  margin-bottom: 20px;
}
.call{
  color:#000000;
  font-size:16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  letter-spacing:1% ;
  margin-bottom: 6px;
}
.side{
  color:#000000;
  font-size:16px;
  font-weight: 600;
  font-style: semi-bold;
  line-height: 28px;
  letter-spacing:1% ;
  margin-bottom: 10px;
}
.form-box{
  background-color: #FFFFFF;
  width: 728px;
  height: 468px;
  border: 1px solid #E1E7EF;
  border-radius: 12px;
  margin-top: 50px;
}
.bot{
  display: flex;
  /* justify-content:space-around; */
  gap:88px;
  margin-left: 57px;
}
.bot1{
  display: flex;
  flex-direction: column;
 margin-top: 37px;
}
#name{
 background-color: #F6F9FB;
  padding: 11px 24px 11px 24px;
  border: 1px solid #E1E7EF;
  border-radius: 10px;
  width: 262px;
  height:40px;
  color: #ACACAC;
   font-size:12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
}
label{
  color:#1D283A;
   font-size:14px;
  font-weight: 500;
  font-style: medium;
  line-height: 14px;
  margin-bottom: 12px;
}
#Email{
  background-color: #F6F9FB;
  padding: 11px 24px 11px 24px;
  border: 1px solid #E1E7EF;
  border-radius: 10px;
  width: 614px;
  height:40px;
  color: #ACACAC;
   font-size:12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
   
}
#era{
margin-left: 57px;
}
#textarea{
   background-color: #F6F9FB;
  padding: 11px 24px 11px 24px;
  border: 1px solid #E1E7EF;
  border-radius: 10px;
  width: 615px;
  height:88px;
  color: #ACACAC;
   font-size:12px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
}
 .button{
  
  background-color: #2E80FA;
   padding: 12px 16px 12px 16px;
  border: 1px solid #E1E7EF;
  border-radius: 10px;
  width: 243px;
  height:44px;
  color: #F9F9F9;
   font-size:14px;
  font-weight: 500;
  font-style:medium;
  line-height: 20px;
 
 }
 .but{
display: flex;
 justify-content: end;
 margin-right: 57px;
 margin-top: 37px;
 }