* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #e1e7ef;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #e1e7ef;
  height: 65px;
  padding: 0 34px 0 34px;
  border: 1px solid rgb(203, 202, 202);
}
.back {
  font-style: bold;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  margin-left: 40px;
  margin-top: 40px;
  color: #1d283a;
}
.after {
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 16px;
  color: #65758b;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.image {
  display: flex;
  gap: 3px;
  align-items: center;
  /* margin-left:3px; */
}
.logo {
  width: 40px;
  height: 30px;
  border-radius: 12px;
}
.text {
  color: #1d283a;
  font-weight: 600px;
  font-size: 20px;
  font-style: bold;
  line-height: 28px;
}
.iconic {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  max-height: 17px;
  font-weight: 2px;
  margin-right: 10px;
  margin-top: 20px;
}
.parent {
  display: flex;
  gap: 30px;
}
.first {
  display: flex;
  flex-direction: column;
  background-color: #e1e7ef;
  gap: 28px;
  margin-left: 40px;
}
.second {
  background-color: #ffffff;
  width: 700px;
  height: 315px;
  border-radius: 12px;
  border: 1px solid #e1e7ef;
}
.appoint{
    font-weight: 600px;
  font-size: 24px;
  font-style: bold;
  line-height: 24px;
  letter-spacing: -0.6px;
}
.one {
  display: flex;
  flex-direction: column;
  background-color: #e1e7ef;
  gap: 28px;
}
.two {
  background-color: #ffffff;
  width: 440px;
  height: 257px;
  border-radius: 12px;
  border: 1px solid #e1e7ef;
}
