*{
    margin: 0;
    padding: 0;
}
.hero{
    background-color:#ffffff;
    width:448px;
    height: 553px;
    border-radius: 10px;
    margin-top:178px;
    margin-left: 457px;
    padding: 31px 17px 31px 17px;
    line-height:48px;
    border:1px solid black;
}
.login{
    color:rgb(172, 172, 172);
}
select{
    /* background-color: aliceblue; */
width:400px;
padding:10px;
border-radius: 10px;
color:rgb(137, 136, 136) ;
}
#email{
    width:380px;
    padding:10px;
    border:1px solid black ;
    color:rgb(137, 136, 136) ;
    border-radius: 10px;
}